USE [master]
GO
/****** Object:  Database [BIKE]    Script Date: 18-10-2019 09:32:34 AM ******/
CREATE DATABASE [BIKE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BIKE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BIKE.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BIKE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BIKE_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BIKE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BIKE]
GO
/****** Object:  Schema [PRODUCTION]    Script Date: 18-10-2019 09:32:34 AM ******/
CREATE SCHEMA [PRODUCTION]
GO
/****** Object:  Schema [SALES]    Script Date: 18-10-2019 09:32:34 AM ******/
CREATE SCHEMA [SALES]
GO
/****** Object:  Table [PRODUCTION].[BRANDS]    Script Date: 18-10-2019 09:32:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PRODUCTION].[BRANDS](
	[brand_id] [int] NOT NULL,
	[brand_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PRODUCTION].[CATEGORIES]    Script Date: 18-10-2019 09:32:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PRODUCTION].[CATEGORIES](
	[categories_id] [int] NOT NULL,
	[category_name] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[categories_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PRODUCTION].[PRODUCTS]    Script Date: 18-10-2019 09:32:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PRODUCTION].[PRODUCTS](
	[product_id] [int] NOT NULL,
	[product_name] [varchar](20) NOT NULL,
	[brand_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[model_year] [int] NOT NULL,
	[list_price] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PRODUCTION].[STOCKS]    Script Date: 18-10-2019 09:32:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PRODUCTION].[STOCKS](
	[store_id] [int] NOT NULL,
	[product_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [SALES].[CUSTOMERS]    Script Date: 18-10-2019 09:32:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALES].[CUSTOMERS](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[phone] [varchar](10) NULL,
	[email] [varchar](50) NULL,
	[street] [varchar](50) NULL,
	[city] [varchar](20) NULL,
	[state] [varchar](20) NULL,
	[zip_code] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALES].[OEDER_ITEMS]    Script Date: 18-10-2019 09:32:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SALES].[OEDER_ITEMS](
	[item_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[list_price] [int] NOT NULL,
	[discount] [int] NOT NULL,
	[order_amount]  AS ([quantity]*[list_price]),
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [SALES].[ORDERS]    Script Date: 18-10-2019 09:32:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALES].[ORDERS](
	[order_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[order_state] [varchar](20) NOT NULL,
	[required_date] [date] NOT NULL,
	[shipped_date] [date] NOT NULL,
	[store_id] [int] NOT NULL,
	[staff_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALES].[STAFF]    Script Date: 18-10-2019 09:32:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALES].[STAFF](
	[staff_id] [int] NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[phone] [varchar](10) NULL,
	[email] [varchar](50) NULL,
	[active] [varchar](20) NOT NULL,
	[store_id] [int] NOT NULL,
	[manager_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALES].[STORES]    Script Date: 18-10-2019 09:32:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALES].[STORES](
	[store_id] [int] IDENTITY(1,1) NOT NULL,
	[store_name] [varchar](50) NULL,
	[phone] [varchar](10) NULL,
	[email] [varchar](50) NULL,
	[street] [varchar](50) NULL,
	[city] [varchar](20) NULL,
	[state] [varchar](20) NULL,
	[zip_code] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[store_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [PRODUCTION].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTS_BRANDS] FOREIGN KEY([brand_id])
REFERENCES [PRODUCTION].[BRANDS] ([brand_id])
GO
ALTER TABLE [PRODUCTION].[PRODUCTS] CHECK CONSTRAINT [FK_PRODUCTS_BRANDS]
GO
ALTER TABLE [PRODUCTION].[STOCKS]  WITH CHECK ADD  CONSTRAINT [FK_STOCKS_PRODUCTS] FOREIGN KEY([product_id])
REFERENCES [PRODUCTION].[PRODUCTS] ([product_id])
GO
ALTER TABLE [PRODUCTION].[STOCKS] CHECK CONSTRAINT [FK_STOCKS_PRODUCTS]
GO
ALTER TABLE [PRODUCTION].[STOCKS]  WITH CHECK ADD  CONSTRAINT [FK_STOCKS_STORES] FOREIGN KEY([store_id])
REFERENCES [SALES].[STORES] ([store_id])
GO
ALTER TABLE [PRODUCTION].[STOCKS] CHECK CONSTRAINT [FK_STOCKS_STORES]
GO
ALTER TABLE [SALES].[OEDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_OEDER_ITEMS_PRODUCTS] FOREIGN KEY([product_id])
REFERENCES [PRODUCTION].[PRODUCTS] ([product_id])
GO
ALTER TABLE [SALES].[OEDER_ITEMS] CHECK CONSTRAINT [FK_OEDER_ITEMS_PRODUCTS]
GO
ALTER TABLE [SALES].[OEDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_ITEMS_ORDERS] FOREIGN KEY([order_id])
REFERENCES [SALES].[ORDERS] ([order_id])
GO
ALTER TABLE [SALES].[OEDER_ITEMS] CHECK CONSTRAINT [FK_ORDERS_ITEMS_ORDERS]
GO
ALTER TABLE [SALES].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_STAFF] FOREIGN KEY([staff_id])
REFERENCES [SALES].[STAFF] ([staff_id])
GO
ALTER TABLE [SALES].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_STAFF]
GO
ALTER TABLE [SALES].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_STORES] FOREIGN KEY([store_id])
REFERENCES [SALES].[STORES] ([store_id])
GO
ALTER TABLE [SALES].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_STORES]
GO
ALTER TABLE [SALES].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_STORES] FOREIGN KEY([store_id])
REFERENCES [SALES].[STORES] ([store_id])
GO
ALTER TABLE [SALES].[STAFF] CHECK CONSTRAINT [FK_STAFF_STORES]
GO
ALTER TABLE [SALES].[OEDER_ITEMS]  WITH CHECK ADD CHECK  (([list_price]>(0)))
GO
ALTER TABLE [SALES].[OEDER_ITEMS]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
USE [master]
GO
